.generatorControls {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  font-family: var(--monospace);
  font-size: 13px;
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 6px 4px;
}

.sectionScrollable {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0 4px;
  overflow: auto;
}

.sectionButtons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
  row-gap: 8px;
  align-items: center;
}

.cellText {
  justify-self: start;
}

.rowText {
  display: flex;
  align-items: center;
  gap: 3px;
}

.playerTagBlack {
  padding: 1px 3px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.playerTagWhite {
  padding: 1px 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.cases {
  flex-shrink: 0;
  padding: 4px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  column-gap: 4px;
}

.caseRow {
  display: contents;
  cursor: pointer;
}

.boldText {
  font-weight: bold;
}

.caseLabel {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 6px 4px;
  &:hover {
    background: #efefef;
  }
}

.textButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 4px;
  line-height: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  &:hover {
    border: 1px solid #777;
    box-shadow: 1px 1px 1px #777;
  }
  &:active {
    border: 1px solid #777;
    box-shadow: none;
  }
}

.pre {
  padding: 4px 2px;
}

.caseDetails {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.caseDetailRow {
  cursor: default;
  padding: 2px 4px;
  margin-left: 12px;
}

kbd {
  display: inline-block;
  border-radius: 3px;
  padding: 0 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  color: #555;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 1px;
  user-select: none;
}
