.container {
  position: absolute;
  top: 12px;
  right: 12px;
  display: grid;
  grid-template-columns: minmax(4rem, auto) minmax(4rem, auto);
  gap: 4px;
  background: #fafafa;
  box-shadow: 1px 1px 2px #bababa;
  font-size: 12px;
  padding: 2px 4px;
}

.coordinate {
  display: flex;
  gap: 12px;
}

.greenText {
  color: mediumseagreen;
  font-weight: bold;
}
