.table {
  width: 100%;
  height: 100%;
}

.hoverHex {
  fill: mediumseagreen;
  opacity: 0.1;
  pointer-events: none;
}

.selectedHex {
  stroke: mediumseagreen;
  stroke-width: 3px;
  fill: none;
  pointer-events: none;
}

.lastMoveHex {
  stroke: mediumslateblue;
  stroke-width: 3px;
  fill: none;
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}
