.buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

.suiteText {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 4px;
  overflow: auto;
  overflow-wrap: break-word;
}
